<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quizazo Create</title>
    <script defer src="{{ url_for('static', filename='create.js') }}"></script>
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='create.css') }}">-->
</head>
<body>
<h1>Create</h1>
<form method="POST" action = "{{url_for('add_data')}}">
    <label for="setname">Name: </label><input id="setname" name="name">
    <label for="setdescription">Description: </label><input id="setdescription" name="description">
    <div id = "cards">
    <div id = "cardOne" class="carrier">
    </div>
    </div>
    <br>
    <button id ="addcard" type="button">+</button>
    <input type="submit" value = "Submit" id ="submitButton" disabled>
    <div id = "nameInUseError" style="visibility: hidden;">*set name is taken*</div>
    <div id = "essentialError" style="visibility: hidden;">*all cards need one essential or two semi-essential. all attributes need to be filled in*</div>
</form>
</body>
</html>